<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.modules.oa.dao.OaWorkTaskDao">
    <resultMap id="BaseResultMap" type="com.thinkgem.jeesite.modules.oa.entity.OaWorkTask">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_uid" property="createUid" jdbcType="VARCHAR"/>
        <result column="owner_uid" property="ownerUid" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="files" property="files" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

        <association property="createUser" select="com.thinkgem.jeesite.modules.sys.dao.UserDao.get"
                     column="create_uid">
        </association>

        <association property="ownerUser" select="com.thinkgem.jeesite.modules.sys.dao.UserDao.get"
                     column="owner_uid">
        </association>

    </resultMap>
    <sql id="Base_Column_List">
    id, type, title, create_uid,owner_uid, content, status, files, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from oa_task
        where id = #{id,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from oa_task
    where id = #{id,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.thinkgem.jeesite.modules.oa.entity.OaWorkTask">
    insert into oa_task (id, type, title,
      create_uid, owner_uid,content, status,
      files, create_time, update_time
      )
    values (#{id,jdbcType=CHAR}, #{type,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
      #{createUid,jdbcType=VARCHAR},#{ownerUid,jdbcType=VARCHAR} #{content,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{files,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.thinkgem.jeesite.modules.oa.entity.OaWorkTask">
        insert into oa_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="createUid != null">
                create_uid,
            </if>
            <if test="ownerUid != null">
                owner_uid,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="files != null">
                files,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="createUid != null">
                #{createUid,jdbcType=VARCHAR},
            </if>
            <if test="ownerUid != null">
                #{ownerUid,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="files != null">
                #{files,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.thinkgem.jeesite.modules.oa.entity.OaWorkTask">
        update oa_task
        <set>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createUid != null">
                create_uid = #{createUid,jdbcType=VARCHAR},
            </if>
            <if test="ownerUid != null">
                owner_uid = #{ownerUid,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="files != null">
                files = #{files,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.thinkgem.jeesite.modules.oa.entity.OaWorkTask">
    update oa_task
    set type = #{type,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      create_uid = #{createUid,jdbcType=VARCHAR},
      owner_uid = #{ownerUid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      files = #{files,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
    <select id="findByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oa_task
        <include refid="FilterMapper.parseFilterRules"/>
        <if test="pageQuery != null">
            order by ${pageQuery.orderBy} ${pageQuery.orderType} limit #{pageQuery.start} , #{pageQuery.pageSize}
        </if>
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(*) from oa_task
        <include refid="FilterMapper.parseFilterRules"/>
    </select>
</mapper>